<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Question description:</strong>
    <%= question.question_description %>
  </p>

</div>
