<section class="form-section d-flex flex-column align-items-center">
  <h1 class="text fw-bolder">Questions</h1><h1>New question</h1>

<%= render "form", question: @question %>

<br>

<div>
    <%= link_to "Back to questions", quiz_assessment_questions_path %>
</div> 
</section>
