<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_quiz_assessment_question_path(@question) %> |
  <%= link_to "Back to questions", quiz_assessment_questions_path %>

  <%
=begin%>
 <%= button_to "Destroy this question", @question, method: :delete %> 
<%
=end%>
</div>
