<section class="form-section d-flex flex-column align-items-center">
<h1>Editing answer</h1>

<%= render "form", answer: @answer %>

<br>

<div>
  <%= link_to "Show this answer", quiz_assessment_question_answer_path(@answer) %> |
  <%= link_to "Back to answers", quiz_assessment_question_answer_path %>
</div>
</section>