<section class="form-section d-flex flex-column align-items-center">
  <h1 class="text fw-bolder">New answer</h1>
<%= render "form", answer: @answer %>

<br>

<div>
  <%= link_to "Back to answers", quiz_assessment_question_answers_path %>
</div>

</section>