<section class="form-section d-flex flex-column align-items-center">
<div  class="bg bg-light p-4 m-3 border"> 
  <%= render @answer %>
</div>

<div>
  <%= link_to "Edit this answer", edit_quiz_assessment_question_answer_path(@answer) %> |
  <%= link_to "Back to answers", quiz_assessment_question_answer_path %>

  <%= button_to "Destroy this answer", quiz_assessment_question_answer_path, method: :delete, class: "btn btn-danger" %>
</div>
</section>