<div id="<%= dom_id quiz_assessment %>">
  <p>
    <strong>Title:</strong>
    <%= quiz_assessment.name %>
  </p>

  <p>
    <strong>Question description:</strong>
    <%= quiz_assessment.question_description %>
  </p>

</div>
