<h1>Editing quiz test</h1>

<%= render "form", quiz_assessment: @quiz_assessment %>

<br>

<div>
  <%= link_to "Show this quiz test", @quiz_assessment %> |
  <%= link_to "Back to quiz tests", quiz_assessments_path %>
</div>
