<section class="form-section d-flex flex-column align-items-center">
<h1 class="text fw-bolder"> New quiz test </h1>

<%= render "form", quiz_assessment: @quiz_assessment %>


<div>
  <%= link_to "Back to quiz tests", quiz_assessments_path %>
</div>
</section>