<div id="<%= dom_id quiz_test %>">
  <p>
    <strong>Name:</strong>
    <%= quiz_test.name %>
  </p>

  <p>
    <strong>Question description:</strong>
    <%= quiz_test.question_description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= quiz_test.author %>
  </p>

</div>
