<h1>Editing quiz test</h1>

<%= render "form", quiz_test: @quiz_test %>

<br>

<div>
  <%= link_to "Show this quiz test", @quiz_test %> |
  <%= link_to "Back to quiz tests", quiz_tests_path %>
</div>
